[Unit]
Description=bitcoind
After=network.target

[Service]
ExecStart=/usr/local/bin/bitcoind{% if bitcoind_reindex %} -reindex{% endif %}

User={{bitcoind_user}}

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
