externalip={{node_external_ip}}
uacomment={{bitcoind_comment}}

datadir={{bitcoind_data_dir}}
logdir={{bitcoind_log_dir}}

disablewallet={{bitcoind_disable_wallet}}

maxuploadtarget=4096
dbcache=2048

server=1
rpcbind=127.0.0.1
{% for ip in bitcoind_rpc_bind %}rpcbind={{ip}}
{% endfor %}
rpcallowip=127.0.0.1
{% for ip in bitcoind_rpc_allow_ip %}rpcallowip={{ip}}
{% endfor %}
rpcuser={{bitcoind_rpc_user}}
rpcpassword={{bitcoind_rpc_pass}}

zmqpubrawblock=tcp://127.0.0.1:28332
zmqpubrawtx=tcp://127.0.0.1:28333

deprecatedrpc=warnings

txindex={{bitcoind_enable_txindex}}
blockfilterindex={{bitcoind_enable_filterindex}}

{% for node in bitcoind_add_node %}addnode={{node}}
{% endfor %}
