[Unit]
Description=lnd
Wants=btcd.service
After=btcd.service

[Service]
ExecStart=/usr/local/bin/lnd
User={{lnd_user}}
Restart=on-failure

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
