[Application Options]
externalip={{node_external_ip}}

datadir={{lnd_data_dir}}

alias={{lnd_alias}}
; color=#3399FF

tlsextradomain={{lnd_alias}}
listen=0.0.0.0:9735
rpclisten=127.0.0.1:10009
restlisten=127.0.0.1:8080

[Bitcoin]
bitcoin.mainnet=true
bitcoin.node={{lnd_bitcoin_node}}
