[Application Options]
externalip={{node_external_ip}}
uacomment={{btcd_comment}}

datadir={{btcd_data_dir}}
logdir={{btcd_log_dir}}
debuglevel=error

rpcuser={{btcd_rpc_user}}
rpcpass={{btcd_rpc_pass}}

txindex={{btcd_enable_txindex}}

{% for peer in btcd_add_peer %}addpeer={{peer}}
{% endfor %}
